git+https://github.com/iDevision/enhanced-discord.py@2.0
git+https://github.com/Gorialis/jishaku@master
python-dotenv~=0.15.0
pytimeparse==1.1.8
pymongo~=3.11.3
asyncio
dnspython
aiohttp
kitsu-wrapper
timeago
psutil
youtube_dl
pynacl
animec
